*{
	box-sizing: border-box;
}

html, body{
	min-height: 100vh;
	margin: 0;
}
img{
	width: 100%;
	height: 85%;
	position: absolute;
}

.container{
	align-content: center;
	display: flex-box;
	padding-left: 32%;
	padding-top: 500px;
}

h1{
	align-content: center;
	padding-left: 36%;
	font-size: 90px;
	color: white;
	position: absolute;
}

h2{
	align-content: center;
	padding-top: 10%;
	padding-left: 36%;
	color: white;
	position: absolute;
}

a{
	align-content: center;
	position: relative;
	display: flex-box;
	padding: 50px;
	color: white;
}
 
 p{
 	font-size: 20px;
 	font-style: italic;
	width: 700px;
	margin: auto;
	padding: 75px;
	padding-top: 125px;
 }